body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* -- header -- */
.header {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #FFFFFF;
    padding: 0.6vw 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -- header burger --  */
.header__burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 4vw;
    height: 2.5vw;
}
.header__burger:hover {
    cursor: pointer;
}
.header__burger span {
    height: 1.5px;
    width: 100%;
    transform: scale(1);
    border-radius: 50px;
    background-color: #77AC63;
}

.header__burger::before,
.header__burger::after {
    content: '';
    position: absolute;
    height: 1.5px;
    border-radius: 50px;
    width: 50%;
    background-color: #77AC63;
    transition: all 0.3s ease 0s;
}
.header__burger::after {
    width: 75%;
}
.header__burger::before {
    top: 0;
    left: 0;
}

.header__burger::after {
    bottom: 0;
    left: 0;
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::before {
    width: 100%;
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__burger.active::after {
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.open {
    display: flex !important;
}
/*----*/
.nav__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    list-style-type:  none;
}
.nav__link {
    font-size: 1vw;
    text-decoration: none;
    color: #141414;
}
.nav__link_cart {
    display: none;
}
.nav__link:hover {
    color: #FC8A11;
}
.header__logo {
    margin-right: 25vw;
    width: 8vw;
}
.header__btn {
    width: 1.7vw;
    display: flex;
    align-items: center;
}
.cart {
    width: 100%;
}
.header__btn:hover {
    cursor: pointer;
}
.cart:hover path{
    stroke: #FC8A11;
}
/* -- section1 -- */
.section1 {
    position: relative;
    padding: 15vw 2.2vw 2.2vw;
    background-color: #A1C487;
    display: flex;
    justify-content: space-between;
}
.block-review {
    position: absolute;
    width: 15vw;
    height: 5vw;
    position: relative;
}
.block-left {
    width: 55vw;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.block-right {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.section1__review {
    width: 5vw;
    height: 5vw;
}
.section1__review_first {
position: absolute;
}
.section1__review_second {
position: absolute;
left: 3.2vw;
}
.section1__review_third {
position: absolute;
left: 6.5vw;
}
.block-review__svg {
    width: 12.9vw;
    position: absolute;
    left:5.8vw;
    top:-3.5vw;
}
.section1__title {
    white-space: pre-line;
    margin: 0;
    text-transform: uppercase;
    font-size: 4.5vw;
    line-height: 5vw;
    font-weight: 400;
    color: #FFFFFF;
}
.title__span {
    font-style: italic;
    color: #EAF7E5;
}
.section1__text {
    width: 80%;
    margin: 0;
    font-size: 1vw;
    line-height: 1.8vw;
    color: #FFFFFF;
}
.section1__shop-btn {
    transition: fill 0.3s ease;
    width: 7vw;
    height: 7vw;
}
.section1__shop-btn:hover circle{
    fill: #EAF7E5;

}
.section1__shop-btn:hover path {
    fill: #A1C487;
}
.section1__img {
    width: 100%;
    align-self: flex-start;
}
.wrapper-big {
    margin-top: 2vw;
    align-self: flex-end;
}
.wrapper-small {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}
.section1__btn {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 0.8vw  2.2vw;
    margin-left: 0.5vw;
    font-size: 0.8vw;
    font-weight: 500;
    background-color: #A1C487;
    color: #FFFFFF;
}
.section1__btn:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #141414;
}

/* -- section2 -- */

body {
    width: 100%;
    margin: 0 auto;
}

.section2 {
    padding: 8.25rem 2rem; 
}

.section2__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.75rem;
}

.section2__title {
    flex: 1;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.125rem;
    max-width: 60%;
}

.section2__image {
    flex-shrink: 0;
    height: 100%;
    margin-left: auto;
    max-width: 50%;
}
.section2__image img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.section2__container {
    display: flex;
    max-width: 60%;
    margin-top: 1.875rem;
    gap: 1.25rem;

}

.section2__paragraphs {
    display: flex;
    gap: 1.25rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 8.25rem;
    flex-wrap: nowrap;
}

.section2__paragraph {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    word-wrap: break-word; 
    width: auto;
    flex-grow: 1;
    min-width: 0;
}

.section2__image__container {
    width: 100%;
    height: 460px;
    background-image: url(/assets/image/img/girl.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.section2__wrapper {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
    gap: 0;
    padding: 0;
    margin-bottom: 8%;
}

.section2__img1 {
    width: 100%;  
    z-index: 0;  
}

.section2__img2 {
    width: 100%;  
    margin-top: -7.5%;  
    z-index: 1; 
}
/* ---- */
.main__section3__title {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500; 
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;

}
.main__section3__text{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #141414;
}
.main__section3__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center; 
}
.main__section3__cards__1{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.main__section3__cards__2{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.main__section3__cards__3{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.main__section3__cards__4{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 1/2;
    grid-row: 2/3;
}
.main__section3__cards__5{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.main__section3__cards__6{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 3/3;
    grid-row: 2/3;
}
.main__section3__cards__7{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 1/2;
    grid-row: 3/4;
}
.main__section3__cards__8{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 2/3;
    grid-row: 3/4;
}
.main__section3__cards__9{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 3/4;
    grid-row: 3/4;
}
.main__section3__button{
    width: 11vw;
    display: block;
    margin: auto;
}

#dark{
    background: rgba(102, 102, 102, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
#popup{
    width: 60vw;
    border-radius: 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    z-index: 2;
}
#dark:target {
    display: block;
}
.close {
    display: inline-block;
    background: #fff;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {
    background: #ffffff;
}
.main__section4__title{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #141414;
    margin-left: 30px;
}
.main__section4__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center; 
}
.main__section4__cards__1{
    height: 33vh;
    grid-column: 1/2;
    grid-row: 1/2;
}
.main__section4__cards__2{
    height: 33vh;
    grid-column: 2/3;
    grid-row: 1/2;
}
.main__section4__cards__3{
    height: 33vh;
    grid-column: 3/4;
    grid-row: 1/2;
}
.main__section4__message{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2.5fr 1fr;
}
.main__section4__message__1{
    height: 5vh;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 15px;
    align-self: center;
    margin-left: 20px;
}
.main__section4__message__2{
    height: 5vh;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    margin-left: 20px;
}
.main__section4__message__3{
    height: 5vh;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    margin-left: 20px;
}
.main__section4__message__4{
    height: 15vh;
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
    margin-left: 20px;
}
.main__section4__message__btn{
    height: 5vh;
    grid-column: 1/2;
    grid-row: 5/6;
    align-self: center;
    margin-left: 20px;
}
.main__section4__message__girl{
    height: 49vh;
    padding-top: 15px;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/6;
    align-self: end;
}

.page4{
    margin: 5%;
}

.page4_container{
    background-image: url(/assets/image/beige.png);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    border-radius: 4%;
    background-size: cover;
    position: relative;
}

.page4_container-image_container{
    display: flex;
    margin: 5%;
}


.image_container-text_over {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin: 5%;
}


.span_green{
    color: green;
}

.span_orange{
    color: orange;
}

.page5{
    font-family: "DM Sans", sans-serif;
    display: flex;
    margin: 5%;
}

.page5-reverse{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page5-title5{
    font-family: "DM Sans", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    padding: 5%;
}

.page5-title5_1{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    padding: 5%;
}

.page5-input{
    width: 50%;
    padding: 5%;
}

.footer1{
    font-family: "DM Sans", sans-serif;
    background-color:rgba(234, 247, 229, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.footer_nav-fmenu{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    list-style-type:  none;    
}

.footer_nav-link {
    font-family: "DM Sans", sans-serif;
    font-size: 1vw;
    text-decoration: none;
    color: #141414;
}

.footer_nav-link:hover {
    color: #FC8A11;
}

@media (max-width:768px) {

/* -- header -- */
.header {
    padding: 0.1vw 4vw;
}
.nav__list {
    width: 30vw;
}
.nav__link {
    font-size: 1.7vw;
}
.header__logo {
    width: 15vw;
}
.header__btn {
    width: 2.5vw;
}
    /* -- section1 -- */
.section1 {
    flex-direction: column;
    padding: 15vw 4vw 4vw;
}
.block-left {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.block-right {
    width: 85%;
    align-self: flex-end;

}
.block-review {
    margin-bottom:3vw;
    width: 25vw;
    height: 7vw;
}
.section1__review {
    width: 7vw;
    height: 7vw;
}
.section1__review_second {
left: 4.4vw;
}
.section1__review_third {
left: 9vw;
}
.block-review__svg {
    width: 17.5vw;
    left:8.4vw;
    top:-4.7vw;
}
.section1__title {
    margin-bottom:3vw;
    width: 85vw;
    white-space: normal;
    font-size: 7vw;
    line-height: 8vw;
}
.section1__text {
    margin-bottom:3vw;
    width: 70vw;
    white-space: normal;
    font-size: 1.7vw;
    line-height: 2.5vw;
}
.section1__shop-btn {
    width: 14vw;
    height: 14vw;
}
.section1__img {
    width: 85%;
}
.wrapper-big {
    align-self: flex-end;
}
.section1__btn {
    padding: 1.3vw  2.7vw;
    font-size: 1.5vw;
}

    /* --section2-- */

.body {
    width: 100%;
    margin: 0 auto;
}

.section2__main {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.section2__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    max-width: 70%;
}

.section2__image {
    max-width: 40%;
}

.section2__image img {
    width: 100%;
    height: 100%;
}

.section2__container {
    margin-top: 1rem;
    max-width: 100%;
}

.section2__paragraphs {
    flex-wrap: nowrap;
    gap: 1rem;
}

.section2__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
    max-width: 100%;
    flex-grow: 1;
    min-width: 0;
}

.section2__content {
    height: 50vw;
    max-width: 600px;
    flex-direction: row;
    gap: 0.5rem;
}

.section2__image__container {
    background-image: url(/assets/image/img/girl-mob.png);
    height: 488px;
    width: 100%;
}

.section2__wrapper {
    position: relative;
    margin-bottom: 5%;
}
    
.section2__img1 {
    width: 100%;
    z-index: 0;
}
        
.section2__img2 {
    width: 100%;
    z-index: 1;
    margin-top: -7.5%;
}

/* ---- */

.page4_container-image_container{
    display: flex;
    flex-direction: column;
}


.page5{
    display: flex;
    flex-direction: column;
}

.footer1{
    display: flex;
    flex-direction: column;
}

.footer_nav-fmenu{
    display: flex;
    flex-direction: column;
}

.footer_nav-link {
    font-size: 2vw;
}




@media (max-width:375px) {

/* -- header -- */

.header {
    padding: 3vw 5vw;

}
.header__logo {
    width: 25vw;
    left: 5vw;
}
.header__btn {
    display: none;
}
/* -- burger --*/
.no-scroll {
    overflow: hidden;
}
.header__burger {
    display: flex;
}
.header__nav {
    display: none;
    flex-direction: column;
    position: fixed;
    max-height: 100%;
    width: 100%;
    top: 9vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding-top: 30%;
    background-color: #A1C487;
}

.nav__list {
    align-self: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: flex-start;
}
.nav__link_cart {
    width: 5vw;
    display: flex;
}
.nav__link {
    font-size: 3.5vw;
    color: #FFFFFF;
}
.cart path{
    stroke: #FFFFFF;
}


    /* -- section1 -- */
.section1 {
    padding: 20vw 5vw 5vw;
}
.block-right {
    width: 100%;
}
.block-review {
    width: 30vw;
    height: 10vw;
}
.section1__review {
    width: 10vw;
    height: 10vw;
}
.section1__review_second {
left: 6.5vw;
}
.section1__review_third {
left: 13.2vw;
}
.block-review__svg {
    width: 25.3vw;
    left:11.9vw;
    top:-6.8vw;
}
.section1__title {
    width: 100%;
    font-size: 9.5vw;
    line-height: 10vw;
}
.section1__text {
    width: 100%;
    font-size: 3.5vw;
    line-height: 5vw;
}
.section1__shop-btn {
    width: 17vw;
    height: 17vw;
}
.section1__img {
    align-self: center;
}
.section1__btn {
    padding: 2vw  3.5vw;
    font-size: 2.5vw;
}

    /* --section2-- */
body {
    width: 100%;
    margin: 0 auto;
}
.section2__main {
    flex-direction: column;
    align-items: flex-start;
}

.section2__title {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.25rem;
    max-width: 80%;
}

.section2__image {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.section2__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2__paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
}

.section2__paragraphs {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.section2__image__container {
    background-image: url(/assets/image/img/girl-mini.png);
    height: 661px;
    width: 100%;
    margin-top: -10%;
}

.section2__wrapper {
    position: relative;
    margin-top: -20%;
    }

.section2__img1 {
    width: 100%;
    z-index: 0;
    object-fit: cover;
}

.section2__img2 {
    width: 100%;
    z-index: 1;
    margin-top: -7.5%;
    object-fit: cover;
}

/*-----*/ 

.image_container-people{
    width: 70%;
}

.image_container-text_over{
    font-size: 70%;
}
} 

@media (max-width: 430px) {
    .image_container-people{
        width: 70%;
    }
    
    .image_container-text_over{
        font-size: 70%;
    }

    .title_5{
        font-size: small;
    }

    .footer_nav-fmenu{
        font-size: medium;
    }

    .footer_aside-socials{
        width: 30%;
    }

    .footer_aside-number, .footer_aside-location{
        font-size: small;
    }

}