body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* -- header -- */
header {
    position: relative;
    padding: 13px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    list-style-type:  none;
}
.nav__link {
    font-size: 14px;
    text-decoration: none;
    color: #141414;
}
.nav__link:hover {
    color: #FC8A11;
}
.header__logo {
    position: absolute;
    left: 45%;
}
.header__btn {
    display: flex;
    align-items: center;
}
.header__btn:hover {
    cursor: pointer;
}
/* -- section1 -- */
.section1 {
    position:relative;
    padding: 132px 32px 32px;
    background-color: #A1C487;
    display: flex;
    justify-content: space-between;
}
.block_left {
    width: 55vw;
    margin-top: 7vw;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.block_right {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.section1__review {
    position: absolute;
    top: 80px;
}
.review__photo {
    width: 15vw;
}
.section1__title {
    white-space: pre-line;
    margin: 0;
    text-transform: uppercase;
    font-size: 4.5vw;
    line-height: 5vw;
    font-weight: 400;
    color: #FFFFFF;
}
.title__span {
    font-style: italic;
    color: #EAF7E5;
}
.section1__text {
    width: 80%;
    margin: 0;
    font-size: 14px;
    line-height: 1.8vw;
    color: #FFFFFF;
}
.section1__shop-btn {
    width: 7vw;
}
.section1__img {
    width: 100%;
    align-self: flex-start;
}
.wrapper_big {
    margin-top: 2vw;
    align-self: flex-end;
}
.wrapper_small {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}
.section1__btn {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 12px 32px;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 500;
    background-color: #A1C487;
    color: #FFFFFF;
}
.section1__btn:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #141414;
}
/* ---- */
.main__section3__title {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500; 
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;

}
.main__section3__text{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #141414;
}
.main__section3__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center; 
}
.main__section3__cards__1{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.main__section3__cards__2{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.main__section3__cards__3{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.main__section3__cards__4{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 1/2;
    grid-row: 2/3;
}
.main__section3__cards__5{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.main__section3__cards__6{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 3/3;
    grid-row: 2/3;
}
.main__section3__cards__7{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 1/2;
    grid-row: 3/4;
}
.main__section3__cards__8{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 2/3;
    grid-row: 3/4;
}
.main__section3__cards__9{
    width: 30vw;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 3/4;
    grid-row: 3/4;
}
.main__section3__button{
    width: 11vw;
    display: block;
    margin: auto;
}

.page4_container{
    display:flex;
    justify-content: center;
    margin: 10%;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 20%;
}

.text_over {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.span_green{
    color: green;
}

.span_orange{
    color: orange;
}

.page5{
    font-family: "DM Sans", sans-serif;
    display: flex;
    margin: 10%;
}

.reverse{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title5{
    font-family: "DM Sans", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    padding: 5%;
}

.title5_1{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    padding: 5%;
}

.input{
    width: 50%;
    padding: 5%;
}

footer{
    font-family: "DM Sans", sans-serif;
    background-color:rgba(234, 247, 229, 1);
}

.broccoli{
    margin: 5%;
}

.fmenu{
    display: flex;
    justify-content: center;
}

.aside{
    display: flex;
    justify-content: end;
}